.home
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    background-color: var(--primary-color)
    .container
        max-width: 60vw
    .head
        font-size: 18px
    .title
        font-weight: 600
        color: var(--deep-blue)

    .titleDesc
        max-width: 800px

    .buttonContainer
        display: flex
        align-items: center
        button
            &:hover
                a
                    color: white
        a
            padding: 10px
            color: var(--deep-blue)
            
        .icon
            scale: 2
            margin-right: 5px
