.home
    height: 80vh
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    background-color: var(--primary-color)
    .container
        max-width: 60vw
    .head
        font-size: 18px
    .title
        font-weight: 600
        color: var(--deep-blue)

    .titleDesc
        max-width: 800px

    .buttonContainer
        display: flex
        align-items: left
        justify-content: space-between
        flex-direction: column
        max-width: fit-content
        button
            &:hover
                a
                    color: white
            a
                padding: 5px

        .icon
            font-size: 40px
        a
            margin: 10px
            color: var(--deep-blue)

    @media screen and (max-width: 1000px)
        .buttonContainer
            flex-direction: column

        .container
            max-width: 90vw
    @media screen and (max-width: 426px)
        .buttons
            display: flex
            flex-direction: column
        .buttonContainer
            align-items: center