.home
    height: 125vh
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    background-color: var(--primary-color)
    .container
        max-width: 60vw
    .head
        font-size: 18px
    .title
        font-weight: 600
        color: var(--deep-blue)
    button
        border: 2px solid black
        margin: 10px
        a
            padding: 10px
    .titleDesc
        max-width: 800px
    .clouds
        img

