@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&family=Roboto:wght@400;500;700&display=swap');

:root {
  --primary-color: #f2fcfc;
  --secondary-color: #cbf1f5;
  --accent-color: #a6e3e9;
  --deep-blue: #009dab;

  --text-color: #333333;

  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  overflow-x: hidden;
  font-family: var(--secondary-font);
}

section {
  min-height: 80vh;
}

button {
  border: 2px solid var(--deep-blue);
  cursor: pointer;
  background-color: transparent;
  padding: 10px;
  margin: 10px;
  transition: 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
  scale: 1.05;
  background-color: var(--deep-blue);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

}

a {
  text-decoration: none;
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  font-family: var(--primary-font);
}

.highlight {
  color: var(--deep-blue);
}